<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook">
		<delay>1500</delay>
	</shutdownHook>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<property name="CONSOLE_PATTERN" value="%d %cyan(%-25.-25t) %highlight(%.-3p) %green(%-25.-25C{0}) %blue(%-25.-25c{0}) %yellow(%-25.-25M) %magenta(%4.4L) %msg %n" />

	<appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
		<!-- withJansi>true</withJansi -->
		<encoder>
			<charset>utf8</charset>
			<pattern>${CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="io.doe" level="DEBUG" />
	<logger name="HandlerArgumentsLoggingAspect" level="DEBUG" />

	<logger name="org.hibernate.SQL" level="OFF" />
	<logger name="com.microsoft.sqlserver.jdbc" level="OFF" />
	<logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLogger" level="off" />

	<root level="INFO">
		<appender-ref ref="CONSOLE_LOG" />
	</root>
</configuration>